{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<main class="container py-5 text-center">

    <table class="table text-white">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for portfolios in portfolio %}
            <p>
                <tr>
                    <td class="text-start">{{ portfolios.symbol }}</td>
                    <td class="text-end">{{ portfolios.shares }}</td>
                    <td class="text-end">{{ portfolios.price | usd }}</td>
                    <td class="text-end">{{ portfolios.transaction_time }}</td>
                </tr>
            </p>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
